[submodule "src/measurement-campaign/EarsMeasurementCampaignCode"]
	path = src/measurement-campaign/EarsMeasurementCampaignCode
	url = https://github.com/YaguangZhang/EarsMeasurementCampaignCode.git
[submodule "src/measurement-campaign/YAM3S"]
	path = src/measurement-campaign/YAM3S
	url = https://github.com/YaguangZhang/YAM3S.git
[submodule "src/measurement-campaign/PurdueMeasurementCampaignCode"]
	path = src/measurement-campaign/PurdueMeasurementCampaignCode
	url = https://github.com/YaguangZhang/PurdueMeasurementCampaignCode.git
[submodule "src/measurement-campaign/UtahMeasurementCampaignCode"]
	path = src/measurement-campaign/UtahMeasurementCampaignCode
	url = https://github.com/YaguangZhang/UtahMeasurementCampaignCode.git
[submodule "src/measurement-campaign/Talos"]
	path = src/measurement-campaign/Talos
	url = git@github.com:bharathkeshavamurthy/Talos.git
