[Unit]
Description = BAM Wiress Radio
After=bamradio-build.service

[Service]
ExecStart = /root/radio_api/batch.sh
Restart = on-failure
Type = simple
WorkingDirectory = /root
Environment = "HOME=/root"

[Install]
RequiredBy=multi-user.target