[Unit]
Description=Build BAM Radio

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash /root/radio_api/build.sh
WorkingDirectory = /root
Environment = "HOME=/root"

[Install]
RequiredBy=multi-user.target